lastbuildoptions
overlays/boot/Image
overlays/boot/rk3566-pinenote-v1.2.dtb
overlays/modules/kernel-modules.tar.gz
overlays/firmware/original-firmware.tar.gz
overlays/firmware/waveform.bin
*.tar.gz
*.swp
