# old driver
# KERNELS=="rockchip_ebc", RUN+="/bin/chgrp video /sys/module/rockchip_ebc/parameters/force_refresh", RUN+="/bin/chmod g+w /sys/module/rockchip_ebc/parameters/force_refresh", RUN+="/bin/chgrp video /sys/module/rockchip_ebc/parameters/lut_type", RUN+="/bin/chmod g+w /sys/module/rockchip_ebc/parameters/lut_type"

# default_waveform  diff_mode  direct_mode  panel_reflection  skip_reset
#KERNELS=="rockchip_ebc", RUN+="/bin/chgrp video /sys/module/rockchip_ebc/parameters/default_waveform", RUN+="/bin/chmod g+w /sys/module/rockchip_ebc/parameters/default_waveform", RUN+="/bin/chgrp video /sys/module/rockchip_ebc/parameters/diff_mode", RUN+="/bin/chmod g+w /sys/module/rockchip_ebc/parameters/diff_mode"

ACTION=="add" SUBSYSTEM=="module", KERNEL=="rockchip_ebc", RUN+="/bin/find /sys/module/%k/parameters/ -type f -exec /bin/chgrp video {} +", RUN+="/bin/find /sys/module/%k/parameters/ -group video -exec /bin/chmod g+w {} +"

DRIVER=="rockchip-ebc", RUN+="/bin/chgrp video /sys/%p/power/control", RUN+="/bin/chmod g+w /sys/%p/power/control"

