# old driver
# KERNELS=="rockchip_ebc", RUN+="/bin/chgrp video /sys/module/rockchip_ebc/parameters/force_refresh", RUN+="/bin/chmod g+w /sys/module/rockchip_ebc/parameters/force_refresh", RUN+="/bin/chgrp video /sys/module/rockchip_ebc/parameters/lut_type", RUN+="/bin/chmod g+w /sys/module/rockchip_ebc/parameters/lut_type"

# default_waveform  diff_mode  direct_mode  panel_reflection  skip_reset
#KERNELS=="rockchip_ebc", RUN+="/bin/chgrp video /sys/module/rockchip_ebc/parameters/default_waveform", RUN+="/bin/chmod g+w /sys/module/rockchip_ebc/parameters/default_waveform", RUN+="/bin/chgrp video /sys/module/rockchip_ebc/parameters/diff_mode", RUN+="/bin/chmod g+w /sys/module/rockchip_ebc/parameters/diff_mode"

SUBSYSTEM=="module", KERNEL=="rockchip_ebc", RUN+="/bin/chgrp video /sys/module/%k/parameters/no_off_screen /sys/module/%k/parameters/auto_refresh /sys/module/%k/parameters/prepare_prev_before_a2 /sys/module/%k/parameters/bw_dither_invert /sys/module/%k/parameters/bw_threshold /sys/module/%k/parameters/bw_mode /sys/module/%k/parameters/diff_mode /sys/module/%k/parameters/split_area_limit /sys/module/%k/parameters/default_waveform", RUN+="/bin/chmod g+w /sys/module/%k/parameters/prepare_prev_before_a2 /sys/module/%k/parameters/bw_dither_invert /sys/module/%k/parameters/bw_threshold /sys/module/%k/parameters/bw_mode /sys/module/%k/parameters/default_waveform  /sys/module/%k/parameters/diff_mode /sys/module/%k/parameters/auto_refresh /sys/module/%k/parameters/split_area_limit /sys/module/%k/parameters/no_off_screen"

DRIVER=="rockchip-ebc", RUN+="/bin/chgrp video /sys/%p/power/control", RUN+="/bin/chmod g+w /sys/%p/power/control"

