[Unit]
Description=Reload cyttsp5 to prevent problems with unresponsive touchscreen

[Service]
Type=oneshot
ExecStart=sh -c "modprobe -r cyttsp5 && modprobe cyttsp5"
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
